* {
    padding: 0;

    margin: 0;
}

body {
    background-color: white;
    line-height: 1;
}


#main-box {
    border: 1px solid rgb(179, 177, 177);
    border-left: none;
    border-right: none;

}

#first-box .first {
    width: 100%;
    height: 100%;
    padding: 2px 0px;
    border: 1px solid rgb(199, 196, 196);
    border-left: none;
    display: flex;
    justify-content: center;

}

#first-box .fst-img-box {
    width: 80%;
    height: 97%;
    margin: 3px 0px;
    padding: 30px 0px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgb(237 237 237);
    border-radius: 2px;
    display: flex;
    /* background-size: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first-box .fst-img {
    width: 55%;


}
#first-box .fst-img:hover {
    transition: transform .3s cubic-bezier(.61,.22,.34,2.16);
    transform: scale(1.4);
    box-shadow: 0px 0px 11px 2px rgb(60 201 90);
    
    border-radius: 40px;
}

#first-box .second {
    width: 100%;
    height: 100%;
    padding: 2px 0px;
    border: 1px solid rgb(199, 196, 196);

    display: flex;
    justify-content: center;

}

#first-box .sec-img-box {
    width: 80%;
    height: 97%;
    margin: 3px 0px;
    padding: 30px 0px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgb(237 237 237);
    border-radius: 2px;
    display: flex;
    /* background-size: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#first-box .sec-img:hover {
    transition: transform .3s cubic-bezier(.61,.22,.34,2.16);
    transform: scale(1.4);
    box-shadow: 0px 0px 11px 2px #ffc107;
    
    border-radius: 40px;
}

#first-box .sec-img {
    width: 55%;

}

#first-box .third {
    width: 100%;
    height: 100%;
    padding: 2px 0px;
    border: 1px solid rgb(199, 196, 196);

    display: flex;
    justify-content: center;
}

#first-box .thr-img-box {
    width: 80%;
    height: 97%;
    margin: 3px 0px;
    padding: 30px 0px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgb(237 237 237);
    border-radius: 2px;
    display: flex;
    /* background-size: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first-box .thr-img {
    width: 55%;
}
#first-box .thr-img:hover {
    transition: transform .3s cubic-bezier(.61,.22,.34,2.16);
    transform: scale(1.4);
    box-shadow: 0px 0px 11px 2px #e82387c4;
    
    border-radius: 40px;
}

#first-box .fourth {

    width: 100%;
    height: 100%;
    padding: 2px 0px;
    border: 1px solid rgb(199, 196, 196);

    display: flex;
    justify-content: center;
}

#first-box .fourth-img-box {
    width: 80%;
    height: 97%;
    margin: 3px 0px;
    padding: 30px 0px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgb(237 237 237);
    border-radius: 2px;
    display: flex;
    /* background-size: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first-box .fourth-img {
    width: 55%;

}
#first-box .fourth-img:hover {
    transition: transform .3s cubic-bezier(.61,.22,.34,2.16);
    transform: scale(1.4);
    box-shadow: 0px 0px 11px 2px #151314;
    
    border-radius: 40px;
}

#first-box .fifth {
    width: 100%;
    height: 100%;
    padding: 2px 0px;
    border: 1px solid rgb(199, 196, 196);

    display: flex;
    justify-content: center;
}

#first-box .fifth-img-box {
    width: 80%;
    height: 97%;
    margin: 3px 0px;
    padding: 30px 0px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgb(237 237 237);
    border-radius: 2px;
    display: flex;
    /* background-size: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first-box .fifth-img {
    width: 55%;

}
#first-box .fifth-img:hover {
    transition: transform .3s cubic-bezier(.61,.22,.34,2.16);
    transform: scale(1.4);
    box-shadow: 0px 0px 11px 2px #d39e00;
    
    border-radius: 40px;
}

#first-box .sixth {
    width: 100%;
    height: 100%;
    padding: 2px 0px;
    border: 1px solid rgb(199, 196, 196);

    display: flex;
    justify-content: center;
    border-right: none;
}

#first-box .sixth-img-box {
    width: 80%;
    height: 97%;
    margin: 3px 0px;
    padding: 30px 0px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgb(237 237 237);
    border-radius: 2px;
    display: flex;
    /* background-size: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first-box .sixth-img {
    width: 55%;

}
#first-box .sixth-img:hover {
    transition: transform .3s cubic-bezier(.61,.22,.34,2.16);
    transform: scale(1.4);
    box-shadow: 0px 0px 11px 2px #007bff;
    
    border-radius: 40px;
}

/* Fisrt six box */

#first-box .seventh {
    width: 100%;
    height: 100%;
    padding: 2px 0px;
    border: 1px solid rgb(199, 196, 196);
    border-left: none;
    display: flex;
    justify-content: center;

}

#first-box .seventh-img-box {
    width: 80%;
    height: 97%;
    margin: 3px 0px;
    padding: 30px 0px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgb(237 237 237);
    border-radius: 2px;
    display: flex;
    /* background-size: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first-box .seventh-img {
    width: 55%;

}
#first-box .seventh-img:hover {
    transition: transform .3s cubic-bezier(.61,.22,.34,2.16);
    transform: scale(1.4);
    box-shadow: 0px 0px 11px 2px #bd2130;
    
    border-radius: 40px;
}

#first-box .eight {
    width: 100%;
    height: 100%;
    padding: 2px 0px;
    border: 1px solid rgb(199, 196, 196);

    display: flex;
    justify-content: center;
}

#first-box .eight-img-box {
    width: 80%;
    height: 97%;
    margin: 3px 0px;
    padding: 30px 0px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgb(237 237 237);
    border-radius: 2px;
    display: flex;
    /* background-size: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first-box .eight-img {
    width: 55%;

}
#first-box .eight-img:hover {
    transition: transform .3s cubic-bezier(.61,.22,.34,2.16);
    transform: scale(1.4);
    box-shadow: 0px 0px 11px 2px #28a745;
    
    border-radius: 40px;
}


#first-box .nineth {
    width: 100%;
    height: 100%;
    padding: 2px 0px;
    border: 1px solid rgb(199, 196, 196);

    display: flex;
    justify-content: center;
}

#first-box .nineth-img-box {
    width: 80%;
    height: 97%;
    margin: 3px 0px;
    padding: 30px 0px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgb(237 237 237);
    border-radius: 2px;
    display: flex;
    /* background-size: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first-box .nineth-img {
    width: 55%;

}
#first-box .nineth-img:hover {
    transition: transform .3s cubic-bezier(.61,.22,.34,2.16);
    transform: scale(1.4);
    box-shadow: 0px 0px 11px 2px #f1e323;
    
    border-radius: 40px;
}


#first-box .tenth {
    width: 100%;
    height: 100%;
    padding: 2px 0px;
    border: 1px solid rgb(199, 196, 196);

    display: flex;
    justify-content: center;
}

#first-box .tenth-img-box {
    width: 80%;
    height: 97%;
    margin: 3px 0px;
    padding: 30px 0px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgb(237 237 237);
    border-radius: 2px;
    display: flex;
    /* background-size: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first-box .tenth-img {
    width: 55%;

}
#first-box .tenth-img:hover {
    transition: transform .3s cubic-bezier(.61,.22,.34,2.16);
    transform: scale(1.4);
    box-shadow: 0px 0px 11px 2px #ff7800;
    
    border-radius: 40px;
}


#first-box .eleventh {
    width: 100%;
    height: 100%;
    padding: 2px 0px;
    border: 1px solid rgb(199, 196, 196);

    display: flex;
    justify-content: center;
}

#first-box .eleventh-img-box {
    width: 80%;
    height: 97%;
    margin: 3px 0px;
    padding: 30px 0px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgb(237 237 237);
    border-radius: 2px;
    display: flex;
    /* background-size: auto; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first-box .eleventh-img {

    width: 55%;

}
#first-box .eleventh-img:hover {
    transition: transform .3s cubic-bezier(.61,.22,.34,2.16);
    transform: scale(1.4);
    box-shadow: 0px 0px 11px 2px #253dc5;
    
    border-radius: 40px;
}


#first-box .twelveth {
    width: 100%;
    height: 100%;
    padding: 2px 0px;
    border: 1px solid rgb(199, 196, 196);

    display: flex;
    justify-content: center;
    border-right: none;
}

#first-box .twelveth-img-box {
    width: 80%;
    height: 97%;
    margin: 3px 0px;
    padding: 30px 0px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgb(237 237 237);
    border-radius: 2px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first-box .twelveth-img {
    width: 55%;

}
#first-box .twelveth-img:hover {
    transition: transform .3s cubic-bezier(.61,.22,.34,2.16);
    transform: scale(1.4);
    box-shadow: 0px 0px 11px 2px #1d602d;
    border-radius: 40px;
}


@media only screen and (max-width: 576px) {


    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto {
        position: relative;
        width: 50%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    #first-box .first {

        border: 1px solid rgb(199, 196, 196);

    }

    #first-box .sixth {

        border: 1px solid rgb(199, 196, 196);


    }

    #first-box .seventh {

        border: 1px solid rgb(199, 196, 196);

    }

}

@media only screen and (max-width: 990px) {


    #first-box .first {

        border: 1px solid rgb(199, 196, 196);

    }

    #first-box .sixth {

        border: 1px solid rgb(199, 196, 196);


    }

    #first-box .seventh {

        border: 1px solid rgb(199, 196, 196);

    }

}